{% extends 'layout.html' %}

{% block main %}
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div class="login-box">
                <div class="card mt-5">
                    <div class="card-body login-card-body">
                        <p class="login-box-msg">Forgot Password</p>
                        
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        
                        <form action="{{ url_for('auth.forgot_password') }}" method="post">
                            {{ form.hidden_tag() }}
                            <div class="input-group mb-3">
                                {{ form.email(class="form-control", placeholder="Email", required=True) }}
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-block">Send OTP</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}