<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Food 360° Image or Cooking Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Upload Your Food 360° Image or Cooking Video</h2>
    
        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*,video/*" required>
            <button type="submit">Upload</button>
        </form>
        

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
